.head-box {
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 340px;
  margin: 0 auto;
  justify-content: space-between;
  height: 39px;
  margin-top: 20px;

  .game-img {
    img {
      width: 39px;
      height: 39px;
      border-radius: 19.5px;
    }
  }

  .profile—picture {
    img {
      width: 39px;
      height: 39px;
      border-radius: 19.5px;
    }
  }

  .select-box {
    height: 35px;
    background: #322e43;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-left: 80px;
    .price-num {
      margin-right: 20px;
      line-height: 38px;
    }
    .type {
      img {
        width: 25px;
        height: 25px;
      }
    }
    .add {
      img {
        width: 31;
        height: 30px;
      }
    }
    .ArrowDown {
      margin: 0 5px;
    }
  }
}
#ton-connect-button {
  // display: none;
}
