.main {
    width: 100%;
    height: 100%;
    .head {
        height: 78px;
        background: #fff;
    }
    .content {
        width: 100%;
        background: #ccc;
        position: absolute;
        top: 78px;
        bottom: 50px;
        overflow-y: auto; /* 添加垂直滚动条 */
    }
    .tabbar {
        background: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        overflow: hidden;
    }
}