@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  --rv-tabbar-background-color: #201c30;
  --rv-tabbar-item-active-background-color: #201c30;
  --rv-tabbar-item-text-color: #b2aec0;
  --rv-tabbar-item-active-color: #630aa4;
}

html,
body,
#root {
  @apply tw-w-full tw-h-full;
}
body {
  background-color: #201c30;
}
